@charset "UTF-8";

div,p,body,header,footer,section,article,nav {
	margin: 0;
	padding: 0;
	background-color: #d3d3d3;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #333;
}

p {
	color: #000;
	line-height: 112px;
	background: center;
	margin: 0;
}

img {
	border: none;
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

li {
	display: inline;
}

.hidden {
	display: none;
}

#topBar {
	background-color: #000;
	height: 35px;
	justify-content: flex-end;
	align-items: center;
}

#siteContainer {
	margin: 0 auto;
	width: 1635px;
	padding-left: 50px;
	padding-right: 50px;
}

#mainHeader {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	padding-bottom: 40px;
	justify-content: flex-start;
	border-bottom: solid 1.5px #ddd;
}

#logo {
	width: 480px;
	background-color: #000;
}

#mainNav {
	margin-left: 900px;
	flex-direction: row;
	width: 1310px;
}

#promo {
	margin-top: 20px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
}

#promo p {
	line-height: 20px;
}

#promoText {
	width: 950px;
	margin-right: 50px;
}

#promoImage {
	margin-right: auto;
	width: 495px;
	background-color: black;
}

#productInfo {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p {
	line-height: 250px;
}

.productDesc {
	width: 850px;
}

#sideBar {
	width: 475px;
}

#mainFooter {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
  	justify-content: flex-end;
}

#footerNav {
	width: 375px;
	flex-direction: column;
}

#copyright {
	margin-left: auto;
	width: 1325px;
}

#contactInfo {
	margin-left: auto;
	width: 1325px;
}
